ion-item.dark {
    --border-color: #ffffff38;
    --color: white;
    --highlight-background: #eaeaea;
}
ion-content.dark{
    --ion-background-color: #494ef7;
    --highlight-background: #eaeaea;
}
ion-content.dark2 {
    --ion-background-color: #000126;
}
ion-content {
    --ion-background-color: #eeeeee;
}

.walletBalanceContainer {
    --ion-background-color: #EEEEEE;
    
}
.walletBtn{
    display:inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #494ef7;
    background-color: #494ef7;
    color: white;
}
.walletBtn > ion-icon {
    padding-top: 10px;
    font-size: 28px;
}
.authPage {
    height: 100%;
    width: 100%;  
    display:flex;
    align-items: center;
    justify-content: center;
}
.walletTxSelectBtn {
    
    
    padding-top: 10px;
}
.walletTxSelectBtnActive {
    font-weight: bold;
    color: #494ef7 !important;
    padding-top: 10px;
}
.walletBtnSubtitle{
    margin-top: 5px;
    color: #494ef7 !important;
}
.walletCoinSymbol {
    color: #494ef7 !important;
    margin-top: -10px;
    font-size:1.5em !important;
    font-weight: bold;
}
.txUsername {
    font-weight: bold;
    font-size:16px !important;
    padding-top:5px !important;
}
.txReason {
    font-size: 10px !important;
}
.txAmount {
    font-weight: bold;
    font-size:16px !important;
    padding-top:5px !important;
}
.txDate {
    font-size: 10px !important;
}
.rankingsCategoryTitle {
    font-weight: bold;
    font-size:16px !important;
}
.rankingsIndex{
    
    font-size:16px !important;
    padding-top:15px !important;
}
.rankingsName{
    
    font-size:18px !important;
    padding-top:12px !important;
}
.rankingsAmount {
    font-size:18px !important;
    background-color: #000126;
    color: white !important;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    padding-top:8px;
    margin-top:2px;
}
.contactOptions {
    padding-top: 10px;
}
.formInputTitle {
    font-weight: bold;
    font-size:16px !important;
}
.formInput {
    font-size:16px !important;
}


.authTitle {
    color: white;
}

.dataTitle {
    font-size: 14px !important;
    font-weight: bold;
}
.dataField {
    font-size: 12px !important;
}
.dataSubtitle {
    font-weight: bold;
    font-size: 12px !important;
}

.spinnerCenter {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 50%;
}

.dashBtnIcon {
    font-size:  2em;
}
.dashBtnText{
    font-size: 14px !important;
    margin-top: -10px;
}

.chatInput > input {
    padding:10px !important;    
}

.lastMessage {
    margin-bottom: 70px !important;
}